/* about.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f3f4f6;
    color: #333;
}

header {
    background: #282c34;
    color: white;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
}

header h1:hover {
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #000000;
}

main {
    padding: 40px 20px;
    text-align: center;
}

main .about-me {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

main .about-me:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

main .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

main .profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

main .profile-image:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.856);
}

main h2 {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    position: relative;
}

main h2:after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #011216;
    margin: 10px auto;
    transition: width 0.3s ease-in-out;
}

main h2:hover:after {
    width: 100px;
}

main p {
    font-size: 1rem;
    line-height: 1.6;
    color: #fe9898;
    margin: 0 auto;
    max-width: 700px;
    transition: opacity 0.5s ease-in-out;
}

main p:hover {
    opacity: 0.8;
}

.button-container {
    margin-top: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #000000;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #18242c;
    transform: scale(1.05);
}

footer {
    background: #282c34;
    color: rgba(117, 94, 94, 0.555);
    padding: 10px 0;
    text-align: center;
}

footer .container {
    padding: 0 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}